body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 background: hsla(225, 79%, 63%, 1);

background: linear-gradient(90deg, hsla(225, 79%, 63%, 1) 0%, hsla(82, 96%, 57%, 1) 88%);

background: -moz-linear-gradient(90deg, hsla(225, 79%, 63%, 1) 0%, hsla(82, 96%, 57%, 1) 88%);

background: -webkit-linear-gradient(90deg, hsla(225, 79%, 63%, 1) 0%, hsla(82, 96%, 57%, 1) 88%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#577ceb", endColorstr="#aefb2a", GradientType=1 );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
